
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 55px;
}

.left-section {
    width: 20%;
    margin-left: 65px;
    display: flex;
    align-items: center;
}

.youtube-logo {
    height: 26px;
    cursor: pointer;
}

.middel-section {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.search-bar {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 20px;
}

.search-button {
    height: 40px;
    width: 40px;
    background-color: rgb(240, 237, 237);
    border: 1px solid gray;
    border-radius: 16px;
    cursor: pointer;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    background-color: rgb(240, 237, 237);
    border: 1px solid gray;
    border-radius: 16px;
    cursor: pointer;
}

.right-section {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.icon {
    height: 25px;
    cursor: pointer;
}
.notification-box {
    position: relative;
}
.notification-count {
    position: absolute;
    top: -3px;
    right: -5px;
    background-color: rgb(202, 22, 22);
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding: 2px 5px;
    cursor: pointer;
}

.my-channel-icon {
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

@media (max-width : 700px ) {
    .middel-section {
        display: none;
    }
    .left-section {
        margin: 0;
    }
}