.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.youtube-logo {
    height: 24px;
    cursor: pointer;
}
.middel-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 34px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 24px;
    box-shadow: inset 1px 1px 2px rgba(0,0,0, 0.1);
    padding-left: 4px;
    outline: 1px solid rgb(65, 65, 225);
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
    padding-left: 6px;
}

.search-button {
    height: 38px;
    width: 45px;
    background-color: rgb(240, 237, 237);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 15px;
    margin-left: 4px;
    cursor: pointer;
}
.voice-search-button {
    height: 40px;
    width: 40px;
    background-color: rgb(240, 237, 237);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 15px;
    margin-left: 4px;
    cursor: pointer;
}

.right-section {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upload-item-icon {
    height: 25px;
    cursor: pointer;
}
.yt-app-icon {
    height: 25px;
    cursor: pointer;
}
.notification-box {
    position: relative;
}
.notifications-icon {
    height: 25px;
    cursor: pointer;
}
.notification-count {
    position: absolute;
    top: -3px;
    right: -5px;
    background-color: rgb(202, 22, 22);
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding-left:  5px;
    padding-right:  5px;
    padding-top:  2px;
    padding-bottom:  2px;
    cursor: pointer;
}
.my-channel-icon {
    height: 40px;
    margin-right: 12px;
    border-radius: 20px;
    cursor: pointer;
}