.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 60px;
    background-color: white;
    z-index: 1;
}

.sidebar-link {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(223, 222, 222);
}

.sidebar-link img {
    height: 24px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}