.sidebar {
    position: fixed;
    top: 0;
    left: 4px;
    bottom: 0;
    width: 60px;
    background-color: white;
    z-index: 100;
}

.sidebar-link {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: gray;
}

.sidebar-link img {
    height: 24px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}

@media (max-width: 700px ) {
    .sidebar {
        position: absolute;
        display: none;
    }
}