body {
    font-family: Roboto, Arial, 'Times New Roman' ;
}
.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 14px;
    row-gap: 30px;
}

@media (max-width :950px ) {
    .main-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width : 800px ) {
    .main-grid {
        grid-template-columns: 1fr;
    }
}