.video-thumbnail {
    width: 100%;
    cursor: pointer;
}
.video-box {
    position: relative;
}
.video-time {
    position: absolute;
    bottom: 8px;
    right: 6px;
    background-color: rgba(0, 0, 0, 0.559);
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    padding: 3px;
}
.about-video {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.main-grid {
    margin: 12px;
}

.profile-picture {
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Roboto Arial;
}


.video-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}

.video-author {
    font-size: 14px;
    margin-bottom: 3px;
    color: rgb(96, 96, 96);
    cursor: pointer;
}

.video-status {
    font-size: 14px;
    color: rgb(96, 96, 96);
}